{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "useTabs": false,
  "vueIndentScriptAndStyle": true,
  "endOfLine": "auto",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": [
        "*.md",
        "*.mdc"
      ],
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": [
        "*.vue"
      ],
      "options": {
        "parser": "vue"
      }
    }
  ]
}