{
  "semi": false,
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 70,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "useTabs": false,
  "vueIndentScriptAndStyle": true,
  "endOfLine": "auto",
  "bracketSameLine": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.md", "*.mdc"],
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": ["*.vue"],
      "options": {
        "parser": "vue"
      }
    }
  ]
}
